---
title: Melina
---

<nav>
  <div class="container inner">
    <div class="logo">
      <i class="uil uil-cell"></i>
      Melina CV 
    </div>
    <div>
      <button>
       <i class="uil uil-print"></i>
        Print
     </button>
    </div>
  </div>
</nav>
<main class="container">
  <section class="profile" id="profile__ripple">
    <div class="left">
      <div class="avatar__block">
        <img src="./images/users/mel.png" alt="melina">
        <span>
          <i class="uil uil-comment-dots"></i>
        </span>
      </div>
      <div>
        <h2> Melina Saadi </h2>
        <p class="cd-headline loading-bar">
        <span class="cd-words-wrapper">
          <b class="is-visible">UI/UX Designer</b>
          <b> Web Developer</b> 
        </span>
        </p>
      </div>
    </div>
    <div class="right">
        <ul class="contact">
          <li>
            <i class="uil uil-phone-volume"></i>
              <strong> Phone : </strong> +44 7858 110601
          </li>
          <li>
          <i class="uil uil-envelope"></i>
            <strong> Email : </strong> M3lina@live.no
          </li>
        </ul>
      <ul class="socials">
      <li>
        <a href="https://www.instagram.com/melina.mood">
          <i class= "uil uil-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/melina-saadi-15428b197">
          <i class= "uil uil-linkedin"></i>
        </a>
      </li>
      </ul>
    </div>
  </section>
  <section class= "about">
    <h1 class= "section__heading">About Me !</h1>
    <div class= "content">
      <div class="left">
        <h2>I am Melina</h2>
        <p> 
          I am a former Psychiatric Nurse, turned Web Designer. I’ve lived and worked in several countries, picking up 5 languages along the way.
          I’m an energetic web designer with a strong team spirit, a creative detail-oriented mindset. 
          I’m always interested in learning new programming languages and like to stay up-to-date with new technologies.
        </p>
      </div>
      <div class="right">
        <p>
          <span>Name</span>
          <span>Melina S.</span>
        </p>
        <p>
          <span>Residence</span>
          <span>Belfast/ NI</span>
        </p>
        <p>
          <span>Spoken Languages</span>
          <span>English, Norwegian, Persian, Deutsch</span>
        </p>
        <p>
          <span>Nationality</span>
          <span>Norwegian</span>
        </p>
        <p>
          <span>Interest</span>
          <span>Yoga, Travel, Cooking</span>
        </p>
      </div>
    </div>
  </section>
  <section class="skills">
    <h1 class= "section__heading">Education & Skills</h1>
    <div class="content">
      <div class="left">
        <div class="inner__left">
        <div class="heading">
          <i class="uil uil-graduation-cap"></i>
          <h5>Education</h5>
        </div>
        <div class= "timeline__wrapper">
          <div class="item">
            <p>2006 - 2010</p>
            <p class="center">Videregaende</p>
            <p>Trondheim</p>
          </div>
          <div class="item">
            <p>2010 - 2014</p>
            <p class="center">NTNU</p>
            <p>Uni of Trondheim</p>
          </div>
          <div class="item">
            <p>2014 - 2015</p>
            <p class="center">Gerhard Schoningen</p>
            <p>Psychiatric RN</p>
          </div>
        </div>
    </div>
    <div class="inner__right">
        <div class="heading">
          <i class="uil uil-suitcase-alt"></i>
          <h5>Experience</h5>
        </div>
        <div class="timeline__wrapper"> 
          <div class="item">
            <p>2017 - 2019</p>
            <p class="center">Tibe</p>
            <p>Web developer/ UI UX Designer- Trondheim Norway</p>
          </div>
          <div class="item">
            <p>2019 - 2019</p>
            <p class="center">Digit</p>
            <p>UI/ UX Designer- Nice France</p>
          </div>
          <div class="item">
            <p>2020 - Present</p>
            <p class="center">Big House Creative</p>
            <p>Web Developer/ UI UX Designer- Belfast </p>
          </div>
        </div> 
          </div>
      </div>
      <div class="right">
       <div class="skills__wrapper">
          <div class= "skill-box">
            <h4>Html & Css3</h4>
            <div class="progress__wrap">
              <span data-percent="85" class="progress__bar">
                <span class="tooltip">85%</span>
              </span>
            </div>
          </div>
          <div class= "skill-box">
            <h4>Web Design</h4>
            <div class="progress__wrap">
              <span data-percent="90" class="progress__bar">
                <span class="tooltip">90%</span>
              </span>
            </div>
          </div>
          <div class= "skill-box">
            <h4>Ui/Ux Design</h4>
            <div class="progress__wrap">
              <span data-percent="95" class="progress__bar">
                <span class="tooltip">95%</span>
              </span>
            </div>
          </div>
          <div class="skill-box">
            <h4>Photoshop</h4>
            <div class="progress__wrap">
              <span data-percent="80" class="progress__bar">
                <span class="tooltip">80%</span>
              </span>
            </div>
          </div>
       </div>
      </div>
    </div>
  </section>
  <section class="counter__section">
    <div>
      <div>
        <i class="ui uil-cell"></i>
      </div>
      <div>
        <h3><span class="counter" data-count="100">100</span>+</h3>
        <h5>Completed Projects</h5>
      </div>
    </div>
    <div>
      <div>
        <i class="ui uil-smile"></i>
      </div>
      <div>
        <h3><span class="counter" data-count="150">150</span>+</h3>
        <h5>Happy Clients</h5>
      </div>
    </div>
    <div>
      <div>
        <i class="ui uil-trophy"></i>
      </div>
      <div>
        <h3><span class="counter" data-count="30">30</span>+</h3>
        <h5>Happy Team</h5>
      </div>
    </div>
  </section>
  <section class="work">
    <h1 class="section__heading"> My Works & Review </h1>
    <div class="wrapper">
      <div class="slider__wrapper">
        <div class="icon__wrap"><i class="uil uil-feedback"></i></div>
        <div class="slider">
          <div class="slide">
            <p>I STRONGLY recommend Melina to EVERYONE interested in having a business website</p>
            <h2>Elena C.</h2>
          </div>
          <div class="slide">
            <p>Thank You! Good listener, The service was excellent.</p>
            <h2>Brian C.</h2>
          </div>
        </div>
      </div>
      <div class="portfolio">
        <div class ="tabs">
          <ul>
            <li><a class="active" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".design">UI / UX Design</a></li>
            <li><a href="#" data-filter=".frontend">Frontend</a></li>
          </ul>
        </div>
        <div class="portfolio__wrapper">
          <div class="item design">
            <a class="magnify" href= "./images/portfolio/1.png" title="explore Norway">
              <img src="./images/portfolio/1.png" alt="">
            </a>
          </div>
          <div class= "item frontend">
            <a class="magnify" href ="./images/portfolio/5.png" title="Klem Malin-Norway">
              <img src="./images/portfolio/5.png" alt="">
            </a>
          </div>
          <div class= "item frontend">
            <a class="magnify" href ="./images/portfolio/4.png" title="Beauty and Bar">
              <img src="./images/portfolio/4.png" alt="">
            </a>
          </div>
          <div class="item design">
            <a class="magnify" href="./images/portfolio/3.png" title="the power of shadow">
              <img src="./images/portfolio/3.png" alt="">
            </a>
          </div>
          <div class="item design">
            <a class="magnify" href="./images/portfolio/6.png" title="plus newspaper">
              <img src="./images/portfolio/6.png" alt="">
            </a>
          </div>
          <div class="item design">
            <a class="magnify" href="./images/portfolio/7.png" title="life coach Freelancing">
              <img src="./images/portfolio/7.png" alt="">
            </a>
          </div>
          <div class="item design">
            <a class="magnify" href="./images/portfolio/2.png" title="Ava Lunch-Norway">
              <img src="./images/portfolio/2.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="brands__wrapper">
      <img src="./images/brand/1.png" alt="">
      <img src="./images/brand/2.png" alt="">
      <img src="./images/brand/3.png" alt="">
      <img src="./images/brand/4.png" alt="">
      <img src="./images/brand/5.png" alt="">
      <img src="./images/brand/6.png" alt="">
    </div>
  </section>
  <section class="contact">
    <h1 class="section__heading">Contact Me</h1>
    <div class="wrapper">
      <div class="left">
        <div>
          <div><i class="uil uil-phone-volume"></i></div>
          <div>
            <h4>Call me:</h4>
            <span>+44 7858 110601</span>
          </div>
        </div>
        <div>
          <div><i class="uil uil-envelope"></i></div>
          <div>
            <h4>Mail me:</h4>
            <span>cloudmelina@gmail.com</span>
          </div>
        </div>
      </div>
      <div class="right">
        <form action="">
          <div class="form__group">
            <div>
              <label for="">Name</label>
              <input type="text">
            </div>
            <div>
              <label for="">Email</label>
              <input type="email">
            </div>
          </div>
          <div class="form__group textarea__wrapper">
            <div>
              <label for="">Message</label>
              <textarea name="" id="" cols="30" rows="4"></textarea>
            </div>
          </div>
          <button type="submit">Submit Now</button>
        </form>
      </div>
    </div>
  </section>
</main>
<footer class="container">
  <span> © 2020 Melina S.</span>
</footer>