<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "all" %>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="./stylesheets/styles/magnify.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="javascripts/ripples.js"></script>
    <script src="./javascripts/isotope.js"></script>
    <script src="./javascripts/app.js"></script>
    <script src="./javascripts/magnify.js"></script>
    <script src="./javascripts/headline.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <link rel="stylesheet" href= "https://unicons.iconscout.com/release/v2.1.3/css/unicons.css">
    <link rel="shortcut icon" href= "./images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet');
    </style>
  </head>
  <body>
    <%= yield %>


  </body>
</html>
